<div class="additional">
<h1>New mailbox</h1>

<% form_for(@mailbox, :url => mailboxes_path, :method => :post) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>
