<div class="additional">
  <form method="get" action="/clients/login">
    <dl>
      <dt><label for="username">Username</label></dt>
      <dd><input type="text" id="username" /></dd>
      <dt><label for="password">Password</label></dt>
      
      <dd><input type="password" id="password" /> <a href="forgot.shtml">I forgot my password</a></dd>
      <dd><input type="checkbox" id="remember_me" /><label class="light" for="remember_me">Remember me on this computer</label></dd>
      <dd><input type="submit" value="Login" /></dd>
    </dl>
  </form>
</div>

