<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Mail</title>
  <%= stylesheet_link_tag 'styles', 'iphone_toggle', 'more' %>
  <%= javascript_include_tag 'jquery', 'jrails', 'jrails.autocomplete.js', "application", "iphone_toggle" %>
</head>
